.search {
  padding: 70px 0 0;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

.forms-search {
  box-sizing: border-box;
  border: 1.5px solid rgba(170, 170, 170, 0.2);
  border-radius: 8px;
  display: flex;
  height: 72px;
  justify-content: space-between;
  padding: 6px;
  width: 100%;
  align-items: center;
  width: 100%;
}

.forms-search::before {
  content: "";
  position: absolute;
  left: 19px;
  top: 50%;
  width: 34px;
  height: 34px;
  transform: translateY(-50%);
}

.forms-search__input {
  border: none;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  background-color: #ffff;
  flex-grow: 1;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.31;
  margin-right: 10px;
  outline: none;
  padding: 0 16px;
  width: 1060px;
  height: 48px;
}

.forms-search__button {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  width: 100px;
  cursor: pointer;
  height: 52px;
  border: none;
  border-radius: 5px;
  background: #3456f3;
  color: white;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
}

.forms-search__label {
  display: flex;
  padding: 27px 0 44px;
}

.forms-search__label::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -30px;
  bottom: -10px;
  width: 1px;
}

.forms-search__label-text {
  font-size: 12px;
  line-height: 18px;
  padding-left: 18px;
}

.forms-search__checkbox {
  display: none;
}

.forms-search__custom-checkbox {
  width: 36px;
  height: 20px;
  background-color: #ebebeb9c;
  border-radius: 16px;
  padding-left: 4px;
  padding-top: 2px;
  cursor: pointer;
}

.forms-search__marking {
  content: "";
  display: block;
  left: 0px;
  top: 2px;
  width: 16px; /* x*3 */
  height: 16px; /* x*3 */
  border-radius: 16px; /* x*2 */
  background: #fff;
  border: 1px solid #d9d9d9;
}

.forms-search__checkbox:checked
  + .forms-search__custom-checkbox
  .forms-search__marking {
  background-color: #ffffff;
  transform: translateX(75%);
}

.forms-search__checkbox:checked + .forms-search__custom-checkbox {
  background-color: #2be080;
}

@media screen and (max-width: 768px) {
  .forms-search__input {
    max-width: 406px;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .search {
    padding: 0;
  }
  .forms-search__input {
    max-width: 186px;
  }
  .forms-search__button {
    width: 80px;
    height: 44px;
  }
  .forms-search__label {
    padding: 31px 0 64px;
  }
}
